.css-1esgr0x-MuiTimelineItem-root::before {
    display: none !important;
}

.css-gl723-MuiPaper-root-MuiCard-root {
    padding: 0px !important;
    height: 280px !important;
}

.css-yig0sb::before{
    display: none !important; 
}

.css-w0m5bq{
    object-fit: fill !important;
}
.css-1wtp6o0-MuiSvgIcon-root{
    font-size: 2.5rem !important;
}

@media(min-width:900px){
    .Footer_sec{
        display :flex;
       justify-content: space-between;
    }
    .header_data{
        padding: 125px 0;
    }
    .Image_height{
        width: 70%;
        height: 400px;
    }

    .Image_height_1{
        width: 96%;
        height: 400px
    }

}

@media(max-width:900px){
    .CCS{
        display: none;
    }
    .Image_height{
        width: 100%;
        height: 100%
    }

    .Image_height_1{
        width: 96% ;
        height: 100%
    }
}